body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.panel-body{
    padding: 10px;
}

@font-face {
    font-family: 'Batu';
    src: local('Batu'), url(./font/arabian.ttf) format('truetype');
}

.h5{
  font-family: 'Monaco'

}